services:
  db:
    image: postgres:15
    container_name: db
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build: .
    volumes:
      - ./backend:/app
    command: python manage.py runserver 0.0.0.0:8000
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - db
  redis:
    image: redis:7
    ports:
      - "6379:6379"
  worker:
    build: .
    volumes:
      - ./backend:/app
    command: celery -A core worker -l info
    env_file:
    - .env
    depends_on:
      - redis
      - db
volumes:
  postgres_data: